html,
body {
    min-width: 960px;
    height: 100%;
    overflow: hidden;
    background: #FFF;
}

.container {
    *position: relative;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.leftmask {
    float: left;
    position: relative;
    right: 50%;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.leftoffset {
    float: left;
    position: relative;
    right: 119px;
    width: 100%;
    min-height: 100%;
    border-right: 1px solid #CCC;
    background-color: #F5F5F5;
}

.right {
    position: relative;
    float: left;
    right: -100%;
    width: 540px;
    padding: 30px;
}

.left {
    position: relative;
    float: right;
}

.side {
    margin: 20px 30px 30px;
    width: 300px;;
    overflow: visible;
    padding-top: 5.300000000000001em;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    html,
    body {
        min-width: 768px;
    }
    .leftoffset {
        right: 174px;
    }
    .side {
        width: 190px;
        margin-left: 0;
        margin-right: 10px;
    }
        .side-nav {
            margin-right: -10px;
        }
        .side-info dt {
            float: none;
            width: auto;
            text-align: right;
        }
    .right {
        padding-left: 10px;
        padding-right: 10px;
    }
    #searchform input[type="text"] {
        width: 90%;
    }
}

@media only screen and (max-width: 767px) {
    html,
    body {
        min-width: 0;
        height: auto;
        overflow: auto;
        background: #FFF;
    }

    .container {
        *position: relative;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }

    .leftmask {
        float: none;
        position: static;
        right: auto;
        width: 100%;
        height: 100%;
        background-color: #FFF;
    }

    .leftoffset {
        float: none;
        position: static;
        right: auto;
        width: 100%;
        min-height: auto;
        border-right: none;
        background-color: #FFF;
    }

    .right {
        position: static;
        float: none;
        right: auto;
        width: auto;
        padding: 10px;
    }

    .left {
        position: static;
        float: none;
        background-color: #F5F5F5;
    }

    .side {
        padding-top: 10px;
        width: auto;
    }
        .side-nav {
            margin-left: 0;
            margin-right: 0;
        }
            .side-nav li.current_page_item a,
            .side-nav li.current a {
                border-right: 1px solid #CCC;
                border-radius: 5px;
            }
            .side-nav li a {
                float: left;
                width: 50%;
                margin-right: 0;
                padding-right: 0;
                text-align: center;
            }

    #searchform input[type="text"] {
        width: 90%;
    }
    .main-articles time {
        float: none;
        display: block;
        text-align: left;
    }
}